/build/**
/dist/**
/public/**

/node_modules/**

/src/**

/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js

.eslintrc.js
